# PixelMood Code Owners
# Ces personnes seront automatiquement demandées pour review sur les PRs

# Tous les fichiers nécessitent l'approbation d'au moins un membre de l'équipe
* @Frostie0

# Vous pouvez ajouter vos collaborateurs quand ils auront un compte GitHub
# * @Frostie0 @username-christan @username-julie
